a{
    text-decoration: none;
    color: black;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 80vh;
    border: 1px solid black;
}

.navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
    height: 30%;
}

.body{
    padding-left: 3rem;
    flex: 13;
}