a{
    text-decoration: none;
    color: white;
}

body{
    background-color: hsla(195, 40%, 62%, 0.767);
    color: white;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 80vh;
    border: 1px solid white;
    padding: 20px;
}

.navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
    height: 30%;
}

.body{
    background-color: hsla(202, 43%, 58%, 0.75);
    padding-left: 3rem;
    flex: 13;
}